body, html {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	background:rgb(74, 118, 168);
	cursor: pointer;
}


audio {

  position: relative ;
	margin: 0;
	padding: 0;
	width: 10%;
	height: 100%;
	overflow: hidden;



}